@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Outfit",'sans-serif';
}


html{
  font-size: 17.5px;
}


body{
    background-color: #28161C;
}


:root{
  --body-text : 1rem;
  --bigger-text : 1.2rem;
  --heading-3 : 1.618rem;
  --heading-2 : 2.618rem;
  --heading-1 : 4.236rem;
}


.main{
    max-width: 1350px;
    margin: auto;
    background-color: #000;
    position: relative;
}

h1,h2,h3,h4,a,p{
    color: #fff;
}

.btn {
    padding: 12px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    background: rgb(248, 217, 15);
    color: #222;
    border: 1px solid #fff;
    font-weight: 600;
    cursor: pointer;
  }

  .btn-light {
    /* background: rgba(255, 255, 255, 0.2); */
    background: transparent;
    color: #fff;
  }
  
  .btn:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    transition: 0.3s;
  }